.profile__avatar-btn {
  position: relative;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.profile__avatar-btn::before {
  content: '';
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../images/Vector_pencil.svg');
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: center;
  cursor: pointer;
  opacity: 0;
}

.profile__avatar-btn:hover::before {
  opacity: 1;
  transition: opacity 0.2s linear;
}
