.auth__input {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding: 10px 0;
  color: #ccc;
  background-color: black;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  outline: none;
}
.auth__input:last-of-type {
  margin-bottom: 216px;
}

@media screen and (max-width: 767px) {
  .auth__input:last-of-type {
    margin-bottom: 170px;
  }
}
