@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__container/page__container.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/content/content.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__avatar-btn/profile__avatar-btn.css);
@import url(./blocks/profile/__edit-btn/profile__edit-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/_dark/popup_dark.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__submit-btn/popup__submit-btn.css);
@import url(./blocks/popup/__submit-btn/_inactive/popup__submit-btn_inactive.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__text/_type_error/popup__text_type_error.css);
@import url(./blocks/popup/__text-error/popup__text-error.css);
@import url(./blocks/popup/__text-error/_active/popup__text-error_active.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__placename/popup__placename.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__display/popup__display.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__container/elements__container.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__likes/element__likes.css);
@import url(./blocks/element/__likescount/element__likescount.css);
@import url(./blocks/element/__delete-btn/element__delete-btn.css);
@import url(./blocks/element/__delete-btn/_active/element__delete-btn_active.css);
@import url(./blocks/element/__picture/element__picture.css);
@import url(./blocks/element/__info/element__info.css);
@import url(./blocks/element/__name/element__name.css);
@import url(./blocks/element/__like-btn/element__like-btn.css);
@import url(./blocks/element/__like-btn/_active/element__like-btn_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
